.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.progress {
    margin-bottom: 10px;
    margin-top: 20px;
}
.header {
    background-image: url(images/puppy.jpg)
}